# .gitignore
# Ignore node_modules
node_modules/
client/node_modules/

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env
**/.env

# Ignore sensitive keys or files
ChatBot/*.json

# Ignore logs
*.log
